body {
	padding: 0;
	margin: auto;
	max-width: 860px;
	font-family: Verdana;
	font-size: 16px;
	line-height: 16px;
}

.objective {
	padding-bottom: 20px;
}

.objective h2 {
	font-size: 18px;
	font-weight: 500;
	margin: 20px 0 10px;
}

.objective p {
	margin: 0 0 10px 0;
}

.wrapper__tabs {
	display: flex;
	padding-bottom: 20px;
}

.wrapper__tab {
	color: #fff;
	background-color: #0e939080;
	border-radius: 4px;
	padding: 3px 10px 6px;
	margin-left: 10px;
	cursor: pointer;
}

.wrapper__tab:first-child {
	margin-left: 0;
}

.wrapper__tab--active, .wrapper__tab:hover {
	background-color: #0e9390;
}

.wrapper__content-item {
	display: none;
}

.wrapper__content-item--active {
	display: block;
}

/*розовые табы*/

.tabs {
	display: flex;
	padding-bottom: 20px;
}

.tab {
	color: #fff;
	background-color: #ed184780;
	border-radius: 4px;
	padding: 3px 10px 6px;
	margin-left: 10px;
	cursor: pointer;
}

.tab:first-child {
	margin-left: 0;
}

.tab.active, .tab:hover {
	background-color: #ed1847;
}

.content-item {
	display: none;
}

.content-item.active {
	display: block;
}